@import '/src/assets/styles/setup/variables';

header {
    grid-area: header;
    height: 85px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $grayblue;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
    }

    .logos {
        display: flex;
        align-items: center;
        
        h2 {
            font-weight: 500;
            position: relative;
            bottom: 4px;
            margin-left: 0.95rem;   
        }
        
        a {
            text-transform: uppercase;
            margin-left: 2rem;
            font-size: 1.5rem;
            letter-spacing: 0.5px;
            color: $nav;
            font-family: 'Antonio-Regular';
            font-weight: 400;

            &:hover {
                color: $white;
            }
        }
    }

    ul {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Spartan-Regular';

        a {
            color: $nav;
            padding: 0 0.95rem;

            &:hover {
                color: $white;
            }
        }

        


        .active {
            color: $white;

        }
    }
}