@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/Antonio-Medium.ttf');
}

@font-face {
    font-family: 'Antonio-Regular';
    src: url('../../fonts/Antonio-Regular.ttf');
}

@font-face {
    font-family: 'Spartan-Bold';
    src: url('../../fonts/Spartan-Bold.ttf');
}

@font-face {
    font-family: 'Spartan-Regular';
    src: url('../../fonts/Spartan-Regular.ttf');
}
