// Colors
$white: #ffffff;
$black: #070724;
$grayblue: #38384F;
$gray: #838391;
$nav: #c1c1c8;
$mercury: #419EBB;
$venus: #EDA249;
$earth: #6F2ED6;
$mars: #D14C32;
$jupiter: #D83A34;
$saturn: #CD5120;
$uranus: #1EC2A4;
$neptune: #2D68F0;


// Breakpoints
$mobile-breakpoint: 380px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1440px;